# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next js
.next

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# https://github.com/hashicorp/next-mdx-enhanced#installation
.mdx-data

/dist

.parcel-cache